%- include('../partials/header') %>

<h3>Flight List</h3>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <!-- Write the line of EJS to iterate over flights using forEach -->
      <!-- Sort the flights by ascending order -->
      <% flights.sort(function(a, b) { %>
        <% return a.departs - b.departs %>
      <% }) %>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <% if (f.departs < Date.now()) { %>
          <td style="color:red"><%= f.departs.toLocaleString() %></td>
          <% } else { %>
          <td><%= f.departs.toLocaleString() %></td>
          <% } %>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

<%- include('../partials/footer') %>